<div class="row">
  <div class="col-md-12">
    <h2>{{product.name}}
    </h2>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-2 col-sm-6">
    <a ng-href="#/purchase-list/{{product.id}}" class="btn btn-green btn-icon btn-block btn-large">
          New Purchase
      <i class="entypo-plus"></i>   
    </a>
  </div>
  <div class="col-md-2 col-sm-6">
    <a ng-href="#/instock-list/{{product.id}}" class="btn btn-info btn-icon btn-block btn-large">
          New Instock
      <i class="entypo-plus"></i>   
    </a>
  </div>
  <hr class="visible-xs visible-sm"/>
  <div class="col-md-4 col-sm-6">
    <input ng-model="searchtext" type="text" class="form-control" placeholder="Search Records">
  </div>
  <div class="form-inline col-md-4 col-sm-6">
    <label>Sort by: </label>
   <select ng-model="ordercritia" ng-options="o.name for o in orderbyoptions" class="form-control">
   </select>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <label>Filters: </label>
      <label ng-click="iwopclick()" ng-class="{'btn btn-green':iwop, 'btn btn-white':!iwop}">
         Instock Records <strong>Without</strong> Purchase Record
      </label>
      <label ng-click="pwoiclick()" ng-class="{'btn btn-green':pwoi, 'btn btn-white':!pwoi}">
         Purchase Record <strong>Without</strong> Instock Records
      </label>
      <label ng-click="pwiclick()" ng-class="{'btn btn-green':pwi, 'btn btn-white':!pwi}">
         Purchase Record <strong>With</strong> Instock Records
      </label>
      <label ng-click="wdclick()" ng-class="{'btn btn-green':wd, 'btn btn-white':!wd}">
         Waiting for delivering
      </label>
  </div>

</div>
<hr/>
<br/>
<div ng-if="records.length==0">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h1 class="text-center"><strong>No record found.</strong></h1>
</div>
<div>
  <div id="cards" class=" row" masonry>
    <div class='col-md-4 col-sm-6 col-xs-12 masonry-brick' ng-repeat='r in records | orderBy:ordercritia.orderBy | filter: searchtext |filter: iwopfilter |filter: pwoifilter|filter: wdfilter |filter:pwifilter'>
      <div class="tile-block tile-gray" id="todo_tasks">

        
        <div class="tile-content">
          <ul class="list-group">
            <li class="list-group-item" ng-if="r.purchaserecord!=null">
              <h4 class="list-group-item-heading">Purchase <span ng-if="r.purchaserecord.purchase_id">({{r.purchaserecord.purchase_id}})</span><span class="badge badge-info pull-right">{{r.purchaserecord.purchase_qty}}</span></h4>
              <p class="list-group-item-text">
                <br/>
                <p>Unit Price: <strong>{{r.purchaserecord.purchase_currency.symbol}}{{r.purchaserecord.purchase_price}}</strong></p>
                <p>Purchase Date: <strong>{{r.purchaserecord.purchase_date}}</strong></p>
                <p>Anticipate Arrival Date: <strong>{{r.purchaserecord.anticipate_arrival_date}}</strong></p>
                <p>Supplier: <strong>{{r.purchaserecord.supplier.name}}</strong></p>
                <p>Comment: <strong>{{r.purchaserecord.comment}}</strong></p>
                <a ng-href="#/purchase-list/{{product.id}}/{{r.purchaserecord.id}}" class="btn btn-white btn-block">Edit</a>
              </p>
            </li>
            <li class="list-group-item" ng-if="r.purchaserecord==null">
              <h4 class="list-group-item-heading">Purchase</h4>
              <p class="list-group-item-text">
                <br/>
                <p class="text-center">No purchase record found.</p>
              </p>
            </li>
            <li class="list-group-item">
             <h4 class="list-group-item-heading">Instock<span class="badge badge-info pull-right">{{r.count}}</span></h4>
             <br/>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="i in r.inventoryrecords">
                  <span class="badge badge-default">{{i.initial_instock_qty}}</span>
                  <strong>{{i.instock_date}}</strong>
                  <p class="list-group-item-text">
                    <br/>
                    <p>Currently <span class="badge badge-success">{{i.available_qty}}</span> units available.</p>
                    <p>{{i.comment}}</p>
                  </p>
                </li>
              </ul>
              <div ng-if="r.purchaserecord.purchase_qty>r.count" class="list-group-item-text">
                <br/>
                <p class="text-center"><strong class="text-danger">{{r.purchaserecord.purchase_qty-r.count}}</strong> units have not arrived.</p>
                <a ng-href="#/instock-list/{{product.id}}/{{r.purchaserecord.id}}/{{r.purchaserecord.purchase_qty-r.count}} " class="btn btn-info btn-block">Add new instock record?</a>
              </div>
            </li>
          </ul>
        </div>
            
    </div>
  </div>
</div>
