/**
 *
 * Apply Here your Custom CSS
 *
*/

html {
  min-height:100hv;
  position:relative;
}
body {
  height:100hv;
  margin: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 2px dashed #DDD;
	width: 100%;
	height: 150px; 
	text-align: center;
	padding-top: 35px; 
}

.drop-box.dragover {
	border: 2px dashed blue;
}

.clip-circle
{
  background:url(URL-of-image) no-repeat;
  background-size:720px 480px;
  background-position:-160px 0px;
  height:80px;
  width:80px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}
 
/*new specific class for box shadow*/
.box-shad
{
	box-shadow:
	    0 5px 10px #777, 
	    0 0 100px #555 inset,
	    0 0 75px #555 inset,
	    0 0 75px #555 inset;
}
img.desaturate 
{ 
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

.wrapper-div {
    overflow: scroll;
    height: 350px;
}